name: CLA validation

on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  CLAAssistant:
    if: |
      (github.event_name != 'pull_request' && github.event_name != 'pull_request_target') ||
      (github.event_name == 'pull_request' || github.event_name == 'pull_request_target') &&
      (github.event.pull_request.user.login != 'dependabot[bot]' &&
       github.event.pull_request.user.login != 'silabs-matter-ci-bot' &&
       github.event.pull_request.user.login != 'miduggan24')
    uses: ./.github/workflows/cla.yml
    secrets:
      CLA_APP_ID: ${{ secrets.SILABSIN_CLA_BOT_APP_IDD }}
      CLA_APP_PRIVATE_KEY: ${{ secrets.SILABSIN_CLA_BOT_APP_PRIVATE_KEY }}
    with:
      remote_org: "SiliconLabsInternal"
