name: CLA validation

on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  CLAAssistant:
    uses: ./.github/workflows/cla.yml
    secrets:
      CLA_APP_ID: ${{ secrets.SILABSIN_CLA_BOT_APP_IDD }}
      CLA_APP_PRIVATE_KEY: ${{ secrets.SILABSIN_CLA_BOT_APP_PRIVATE_KEY }}
    with:
      remote_org: "SiliconLabsInternal"
