name: Publish Docker

on:
  push:
    paths:
      - ".github/workflows/docker-publish.yml"
      - "docker/*"

  workflow_dispatch:
    inputs:
      push_images:
        required: false
        description: "Push the images"
        type: boolean
        default: false
      tools:
        required: false
        description: "Build the tools image"
        type: boolean
        default: true

jobs:
  publish-matter-extension-dependencies-image:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      # Checkout repository
      - uses: actions/checkout@v5

      # Login to GitHub Container Registry
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Set version variable for tagging the image by reading from docker/version file
      - name: Read and print version from docker/version file
        id: read-version
        run: |
          if [[ "${{ github.event.inputs.tools }}" != "true" ]]; then
            SISDK_Tag=$(grep '^SISDK_Tag=' docker/version | cut -d'=' -f2)
            WiFI_SDK_Tag=$(grep '^WiFI_SDK_Tag=' docker/version | cut -d'=' -f2)
            VERSION="SiSDK${SISDK_Tag}_WiFi_SDK${WiFI_SDK_Tag}"
            echo "VERSION=$VERSION" >> $GITHUB_ENV
            echo "Parsed VERSION: $VERSION"
          fi
      - name: Build and push tools Docker image
        if: ${{ github.event.inputs.tools == true }}
        run: |
          chmod +x docker/tools/build.sh
          ./docker/tools/build.sh --tag "25Q4-Tools" --push
